<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovation</title>
</head>
<body>
   <h2><%=location.name%></h2> 
   <p>longetud<%=location.lon%></p>
   <p>latetud <%=location.lat%></p>
</body>
</html>